<div class="content">
  <div class="header-wrapper">
    <div class="heading-wrapper">
      <h1>Genesis I</h1>
    </div>
    <h2>
      With <span style="color: red">❤</span> from
      <a href="#" style="color: yellow">CyberGen</a>
    </h2>
    <p width="100%">
      We are a growing Community focused around honing skills relevant to the
      blockchain world and connecting the right people to boost this technology
      to the next level! Here are a couple more details:
    </p>
    <ul>
      <li>
        <span>
          We are creating a limited series of 500 AI-Generated NFTs with a
          Synthwave/Cyberpunk feel.
        </span>
      </li>
      <li>
        <span>
          Our community is our biggest focus. We encourage you to develop
          yourself and want to hear your feedback to improve our project as
          well!
        </span>
      </li>
      <li>
        <span>
          We are an open-development project, meaning you get to see how we work
          on CyberGen every step of the way!
        </span>
      </li>
      <li>
        <span>
          We will be hosting regular giveaways and customised NFTs to win for
          your engagement
        </span>
      </li>
    </ul>
  </div>
</div>
