<section id="about-us" class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6">
        <div>
          <h1 class="section-header">What is CyberGen ?</h1>
          <img
            class="aboutus-image"
            src="../assets/images/other/aboutus-image.png"
          />
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-6">
        <div class="content">
          <div class="header-wrapper">
            <p>
              CyberGen is an NFT project, whose goal is to encourage people to
              use and build on top of the blockchain, instead of just buying
              into it. We believe that this technology will fundamentally change
              the world in the future and we want to encourage people to take
              part in this next revolution.
            </p>
            <p>
              What makes CyberGen special is that we’re completely
              open-development. This means that everyone can see the highs and
              lows of development, join any of our team meetings, help and shape
              the project and much more!
            </p>
            <p>
              The end goal for CyberGen is to create an integrated ecosystem
              that encourages learning and building on the blockchain. The first
              step towards that goal is with the launch of our first series of
              500 AI-Generated NFTs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>