<section id="about-us" class="about">
  <div class="container">
    <h1 class="section-header">What is CyberGen ?</h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6">
        <img
          class="aboutus-image"
          src="../assets/images/other/aboutus-image.png"
        />
      </div>
      <div class="col-12 col-sm-12 col-lg-6">
        <div class="content">
          <div class="header-wrapper">
            <p>
              CyberGen is an <strong>NFT project that</strong> consists of
              <strong>500 AI-Generated </strong>
              images that depict the megalopolis of the future: CyberGen City.
              The project is <strong>swiss-based</strong> , fully
              <strong>transparent, open-development</strong> and shaped by our
              <strong>community</strong>. Join us today to contribute!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
