<section id="team" class="team-page-section" style="margin-bottom: 5%">
  <div class="container-fluid">
    <div class="container">
      <!-- Sec Title -->
      <div class="footer-title">
        <h1>Our Team</h1>
      </div>

      <div class="row clearfix" style="justify-content: center">
        <!-- Team Block -->
        <div class="team-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <a><img src="../../../assets/images/other/nick.png" alt="" /></a>
            </div>
            <div class="lower-content">
              <h3><a>Nicolas</a></h3>
              <div class="designation">Founder and lead artist</div>
            </div>
          </div>
        </div>
        <!-- Team Block -->
        <div class="team-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <a><img src="../../../assets/images/other/dario.png" alt="" /></a>
            </div>
            <div class="lower-content">
              <h3><a>Dario</a></h3>
              <div class="designation">Full Stack Developer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix" style="justify-content: center">
        <!-- Team Block -->
        <div class="team-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <a><img src="../../../assets/images/other/ben.png" alt="" /></a>
            </div>
            <div class="lower-content">
              <h3><a>Ben</a></h3>
              <div class="designation">Director of marketing</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
