<section id="team" class="team-page-section">
  <div class="container">
    <!-- Sec Title -->
    <div class="section-header">
      <h1>Our Team</h1>
    </div>

    <div class="row clearfix">
      <!-- Team Block -->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <a><img src="../../../assets/images/other/nick.png" alt="" /></a>
          </div>
          <div class="lower-content">
            <h3><a>Nick</a></h3>
            <div class="designation">Founder and lead artist</div>
          </div>
        </div>
      </div>
      <!-- Team Block -->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <a><img src="../../../assets/images/other/dario.png" alt="" /></a>
          </div>
          <div class="lower-content">
            <h3><a>Dario</a></h3>
            <div class="designation">Full Stack Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Block -->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <a><img src="../../../assets/images/other/kobe.png" alt="" /></a>
          </div>
          <div class="lower-content">
            <h3><a>Ryan</a></h3>
            <div class="designation">Blockchain Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Block -->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <a><img src="../../../assets/images/other/flo.png" alt="" /></a>
          </div>
          <div class="lower-content">
            <h3><a>Flo</a></h3>
            <div class="designation">Director of marketing</div>
          </div>
        </div>
      </div>
      <!-- Team Block -->
      <div class="team-block col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <a><img src="../../../assets/images/other/elia.png" alt="" /></a>
          </div>
          <div class="lower-content">
            <h3><a>Elia</a></h3>
            <div class="designation">Community manager</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
