<div class="footer-basic">
  <footer>
    <div class="social">
      <a target="_blank" href="https://discord.gg/EB88RmcbFz">
        <img src="../../../assets/images/icons/discord.png" />
      </a>
      <a href="https://www.instagram.com/cybergennft" target="_blank">
        <img src="../../../assets/images/icons/instagram.png" />
      </a>
      <a href="https://twitter.com/CyberGenNFT" target="_blank">
        <img src="../../../assets/images/icons/twitter.png" />
      </a>
      <a href="https://www.tiktok.com/@cybergennft" target="_blank">
        <img src="../../../assets/images/icons/tiktok.png" />
      </a>
    </div>
    <div class="footer-text">
      With <span style="color: red">❤</span> from
      <a href="https://twitter.com/CyberGenNFT" target="_blank">CyberGen</a>
    </div>
  </footer>
</div>
