<section id="gallery" class="portfolio">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="section-header">Our Art</h1>
          <p>
            The art of the Genesis series is composed of 500 images,
            which were manually created using a combination of different
            machine-learning models. The theme carrying across the Genesis
            series is the one of CyberGen city: a megalopolis of the future,
            which evokes the colour palette and aesthetic of the early 80’s
            Sci-Fi movies and TV shows.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/1.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/2.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/3.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/4.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/5.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/6.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="showMoreImages === false ? 'hide' : ''">
        <div class="row">
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="../assets/images/nft/7.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="../assets/images/nft/8.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="../assets/images/nft/9.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="../assets/images/nft/10.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="../assets/images/nft/11.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="../assets/images/nft/12.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 more-btn">
          <!-- Show Me More/Less Button -->
          <a class="more-btn-inside" (click)="showMoreImagesClicked()">{{
            showMoreImages === false ? "Show More" : "Show Less"
          }}</a>
        </div>
      </div>
    </div>
  </div>
</section>