<section id="gallery" class="portfolio" style="margin-bottom: 5%">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="section-header">Our Art</h1>
          <p>
            The art of the Genesis series is composed of
            <strong>500 images</strong>, which were
            <strong>manually</strong> created using a combination of different
            <strong>machine-learning models</strong>. <br />The theme carrying
            across the Genesis series is <strong>CyberGen City</strong>: a
            <strong>megalopolis</strong>
            of the future, which evokes the colour palette and
            <strong>aesthetic</strong> of the early <strong>80’s</strong> Sci-Fi
            movies and TV shows.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/7.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/8.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/9.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/10.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="hide-image col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/11.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="hide-image col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img
                src="../assets/images/nft/12.png"
                class="photobox__preview"
                alt="Preview"
              />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
