<div class="content">
  <div class="art-wrapper">
    <h1 class="art-title">Our Art</h1>
    <div class="grid">
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/1.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/2.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/3.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/4.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/5.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/6.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/7.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/8.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/9.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/10.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/11.png')"
        ></div>
      </div>
      <div>
        <div
          class="nft"
          style="background-image: url('../assets/images/nft/12.png')"
        ></div>
      </div>
    </div>
  </div>
</div>
