.blog-aside img {
  position: absolute;
  right: -20px;
  margin-top: 200px;
}

.blog {
  padding: 25px 0px;
}

.blog-box {
  background-color: #fff;
  min-height: 330px;
  max-width: 370px;
  padding: 50px 25px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(28, 31, 33, 0.15);
  -moz-box-shadow: 0px 3px 7px 0px rgba(28, 31, 33, 0.15);
  box-shadow: 0px 3px 7px 0px rgba(28, 31, 33, 0.15);
  margin: 10px;

  p {
    &:nth-child(2) {
      font-size: 0.9rem;
      color: #6e757a !important;
    }

    &:nth-child(3) {
      font-size: 1.2rem;
      color: #fff;
    }
  }
}

.slick-prev {
  position: absolute;
  right: 60px;
  top: -50px;
}

.slick-next {
  position: absolute;
  right: 10px;
  top: -50px;
}

.blog-slider button {
  font-size: 3rem;
  border: none;
  background-color: #fff;
  color: #bbbbbc;

  &:hover {
    color: #fff;
    transition: all 0.3s ease;
  }
}

.blog-first {
  background-color: #ff3946;

  h6 {
    color: #fff;
  }

  p {
    &:nth-child(2) {
      color: #fff !important;
    }

    &:nth-child(3) {
      color: #fff;
    }
  }
}

.blog-slider {
  cursor: pointer;
}

.hide-blog {
  display: none;
}

#blog-btn {
  color: #ff3946;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background-color: #fff;
  border: none;
  margin-top: 20px;

  &:hover {
    color: #fff;
  }
}

.hide-me {
  display: none;
}

.sub-title {
  color: #fc32aa;
}

.ai-image {
  margin: 5% 0px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
