.roadmap-image {
  margin: 0% 0px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (max-width: 1199px) {
  .roadmap-image {
    width: 90%;
  }
}
@media (max-width: 991px) {
  .roadmap-image {
    width: 90%;
  }
}
@media (max-width: 575px) {
  .roadmap-image {
    width: 90%;
  }
}
