@use "../assets/global-styles/button-styles.scss";
@use "../assets/global-styles/color-palette.scss" as c;

.video {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-title {
  color: #ffff00;
  padding: 1em;
  position: absolute;
  top: 50%;
  font-size: 100px;
  left: 50%;
  -webkit-text-stroke: 2px c.$Xiketic;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.section {
  height: auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-wrapper {
  width: 80vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 90px;
}

.header-wrapper h2 {
  font-size: 1.5rem;
  text-align: center;
}

.header-wrapper p {
  color: #fff;
  font-size: 1.9rem;
  width: 82%;
  text-align: center;
  overflow: hidden;
}

.header-wrapper .heading-wrapper h1 {
  color: #fff;
  font-size: 7rem;
  text-align: center;
  line-height: 20px;
  margin-top: 100px;
}
.header-wrapper ul {
  width: 50%;
  margin-bottom: 50px;
  font-size: 1.9rem;
  li {
    margin: 30px 0px;
    line-height: 30px;
  }
}

#header-fixed {
  top: 0;
  color: c.$maximum-yellow;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  z-index: 10;
  box-sizing: border-box;
  position: absolute;
}
div.logo-container {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.logo-container #header-img {
  width: auto;
  height: 50px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#nav-list {
  display: flex;
}
#nav-list a {
  margin: 15px;
  border: 1px solid rgb(241, 241, 0);
  background-color: c.$dark-purple;
  border-radius: 23px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  letter-spacing: 1.5px;
  font-weight: 640;
}
#nav-list a li {
  list-style: none;
}
#nav-list a:hover {
  background: rgb(28, 226, 226);
  cursor: pointer;
  color: black;
}
#nav-list a:focus {
  outline: 0;
  box-shadow: 0.5px -0.5px 6px 1px yellow, -0.5px 1.5px 6px 1px yellow;
  transition: box-shadow 0.1s ease;
}
/*////////////////////////////*/

#foot {
  background-color: c.$Xiketic;
  width: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-bottom-container::after {
  display: block;
  content: "";
  width: 30%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid c.$Xiketic;
  position: absolute;
  top: -40px;
  left: 33%;
}
.footer-bottom-container {
  position: relative;
  width: 100%;
  background: c.$Xiketic;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-inner-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 40px;
  background: rgb(233, 233, 14);
  position: relative;
}

.foot-inner-container::after {
  display: block;
  content: "";
  width: 60%;
  border: 40px solid c.$Xiketic;
  position: absolute;
  left: 17%;
  right: 0;
  top: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
.foot-inner-info {
  width: 100%;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.1em;
}
.footer-links li {
  list-style: none;
}
.footer-links li a {
  text-decoration: none;
  color: c.$Xiketic;
  font-weight: bolder;
  letter-spacing: 2px;
}
.footer-links li a:hover {
  cursor: pointer;
  border-bottom: 2px solid c.$Xiketic;
  filter: drop-shadow(0 10px 7px rgba(0, 0, 0, 0.9));
  transition: filter 0.3s ease;
}
.foot-inner-social {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.foot-inner-social h2 {
  display: block;
  margin: 0 auto 30px auto;
  font-size: 1.5em;
  letter-spacing: 4px;
  font-weight: bolder;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;
}
.social-container::after {
  content: "";
  display: block;
  width: 100px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid rgb(233, 233, 14);
  transform: rotate(135deg);
  position: absolute;
  right: 13px;
  bottom: 0px;
  z-index: 3;
}

.social-icon {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  img {
    width: 40px;
    height: 40px;
  }
}

.footer-logo-container a:hover {
  cursor: pointer;
}

.footer-bottom-container::before {
  content: "";
  display: block;
  border-left: 150px solid transparent;
  border-right: 150px solid c.$Xiketic;
  border-bottom: 150px solid c.$Xiketic;
  border-top: 150px solid transparent;
  position: absolute;
  right: 0;
  top: -300px;
}
.warning-message {
  color: red;
  text-align: center;
}
