@use "../assets/global-styles/button-styles.scss";
@use "../assets/global-styles/alert-styles.scss";
@use "../assets/global-styles/responsive-style.scss";
@use "../assets/global-styles/color-palette.scss" as c;
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap);

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;

  &:focus,
  &:hover {
    color: white;
    text-decoration: none;
  }
}

img {
  margin: 5% 0px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #fff;
  letter-spacing: 1px;
}

:active,
:focus {
  outline: none !important;
}

.section-header {
  font-family: "Neon-Sans";
  font-size: 4rem;
  color: #fff;
  text-shadow: #fff 0px 0px 15px, #23dceb 0px 0px 20px, #23dceb 0px 0px 30px,
    #23dceb 0px 0px 40px, 0px 2px 2px rgba(206, 89, 55, 0);
  font-weight: normal;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

/*-----------------------------------------------------------
  2. Typography 
------------------------------------------------------------*/

body {
  color: #fff;
  background-color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  transition: opacity 1s;
  min-width: 330px;
}

h1,
.h1 {
  font-size: 4.4rem;
  margin-bottom: 20px;
  font-family: "Neon-Sans", sans-serif;
}

h2,
.h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 50px;
}

.about h2 {
  margin-bottom: 25px;
}

h3,
.h3 {
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin-bottom: 15px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 1rem;
  color: #ff3946;
}

h6,
.h6 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.about p {
  color: #fff;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
}

/*-----------------------------------------------------------
  3. Buttons & Links
-------------------------------------------------------------*/

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    padding-top: 1rem;
  }
}
.section-header {
  margin-bottom: 2.5rem;
}

/* Animate neon flicker */
@keyframes flickermagenta {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem c.$persian-rose, 0 0 4rem c.$persian-rose,
      0 0 6rem c.$persian-rose, 0 0 8rem c.$persian-rose,
      0 0 10rem c.$persian-rose;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
@keyframes flickermagentapointer {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    cursor: pointer;
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem c.$persian-rose, 0 0 4rem c.$persian-rose,
      0 0 6rem c.$persian-rose, 0 0 8rem c.$persian-rose,
      0 0 10rem c.$persian-rose;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    cursor: pointer;
  }
}
@keyframes flickerturqoise {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    cursor: pointer;
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem c.$dark-turquoise, 0 0 4rem c.$dark-turquoise,
      0 0 6rem c.$dark-turquoise, 0 0 8rem c.$dark-turquoise,
      0 0 10rem c.$dark-turquoise;
  }

  20%,
  24%,
  55% {
    cursor: pointer;
    text-shadow: none;
  }
}

.footer-basic {
  padding: 40px 0;
  ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    a:hover {
      opacity: 1;
    }
  }
  li {
    padding: 0 10px;
  }
  .social {
    text-align: center;
    padding-bottom: 25px;
    img {
      width: 3%;
      height: auto;
      display: inline-block;
      margin: 0 8px;
    }
  }
}
.footer-text {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .section-header {
    font-size: 3rem;
  }
}
