<!-- HEADER SECTION -->
<header id="home">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="interactive-menu-button">
          <a href="#">
            <span>Menu</span>
          </a>
        </div>
      </button>
      <div
        class="collapse fixed-top navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <!-- Nav Link -->
            <a class="nav-link" data-scroll href="#home"
              >Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <!-- Nav Link -->
            <a class="nav-link" data-scroll href="#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <!-- Nav Link -->
            <a class="nav-link" data-scroll href="#portfolio">Gallery</a>
          </li>
          <li class="nav-item">
            <!-- Nav Link -->
            <a class="nav-link" data-scroll href="#blog">AI-explained</a>
          </li>
          <li class="nav-item">
            <!-- Nav Link -->
            <a class="nav-link" data-scroll href="#contact-us">Our Team</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- HERO SECTION -->
  <div class="container-fluid hero">
    <div class="container">
      <h1>Welcome to</h1>
      <div><img src="../assets/images/other/CG_Logo_V2.png" /></div>
      <div class="hero-btns">
        <a class="mint-button">Mint</a>
        <a class="discord-button">Discord</a>
      </div>
    </div>
  </div>
</header>
<!-- End of Hero Section -->
<!-- About Us -->
<div class="intro-inner-container"></div>
<section id="about-us" class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6">
        <div class="heading-wrapper">
          <h1>Genesis I</h1>
        </div>
        <h2>
          With <span style="color: red">❤</span> from
          <a href="#" style="color: yellow">CyberGen</a>
        </h2>
      </div>
      <div class="col-12 col-sm-12 col-lg-6">
        <h2>Who Are We ?</h2>
        <!-- Replace About Us Text Under -->
        <div class="content">
          <div class="header-wrapper">
            <p>
              We are a growing Community focused around honing skills relevant
              to the blockchain world and connecting the right people to boost
              this technology to the next level! Here are a couple more details:
            </p>
            <ul>
              <li>
                <p>
                  We are creating a limited series of 500 AI-Generated NFTs with
                  a Synthwave / Cyberpunk feel.
                </p>
              </li>
              <li>
                <p>
                  Our community is our biggest focus. We encourage you to
                  develop yourself and want to hear your feedback to improve our
                  project as well!
                </p>
              </li>
              <li>
                <p>
                  We are an open-development project, meaning you get to see how
                  we work on CyberGen every step of the way!
                </p>
              </li>
              <li>
                <p>
                  We will be hosting regular giveaways and customised NFTs to
                  win for your engagement
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PORTFOLIO SECTION -->
<section id="portfolio" class="portfolio">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>See some of our<br />Creative work.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img src="images/1.png" class="photobox__preview" alt="Preview" />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img src="images/2.png" class="photobox__preview" alt="Preview" />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img src="images/3.png" class="photobox__preview" alt="Preview" />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img src="images/4.png" class="photobox__preview" alt="Preview" />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img src="images/5.png" class="photobox__preview" alt="Preview" />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 work-box">
          <div class="photobox photobox_type10">
            <div class="photobox__previewbox">
              <!-- Replace Patch to Image Under -->
              <img src="images/6.png" class="photobox__preview" alt="Preview" />
              <!-- Replace Image Title Under -->
              <span class="photobox__label">Awesome Work</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Hidden Images From Portfolio -->
      <div id="hiden-gallery" class="hide">
        <div class="row">
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="images/5.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="images/3.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 work-box">
            <div class="photobox photobox_type10">
              <div class="photobox__previewbox">
                <!-- Replace Patch to Image Under -->
                <img
                  src="images/1.png"
                  class="photobox__preview"
                  alt="Preview"
                />
                <!-- Replace Image Title Under -->
                <span class="photobox__label">Awesome Work</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 more-btn">
          <!-- Show Me More/Less Button -->
          <a class="more-btn-inside">Show More.</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BLOG SECTION -->
<section id="blog" class="blog">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5>BLOG STORIES</h5>
          <h2>Check Our News</h2>
        </div>
      </div>
      <div id="blog-drag" class="row blog-slider">
        <div class="col-12 col-lg-4 blog-box blog-first">
          <!-- Blog Post Title -->
          <h6>NEW ADVENTURE</h6>
          <!-- Blog Post Date -->
          <p>17 March 2019</p>
          <!-- Blog Post -->
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum amet est on dui.
            Nulla porttitor accumsan tincidunt.
          </p>
        </div>
        <div class="col-12 col-lg-4 blog-box">
          <!-- Blog Post Title -->
          <h6>NEW ADVENTURE</h6>
          <!-- Blog Post Date -->
          <p>17 March 2019</p>
          <!-- Blog Post -->
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum amet est on dui.
            Nulla porttitor accumsan tincidunt.
          </p>
        </div>
        <div class="col-12 col-lg-4 blog-box">
          <!-- Blog Post Title -->
          <h6>NEW ADVENTURE</h6>
          <!-- Blog Post Date -->
          <p>17 March 2019</p>
          <!-- Blog Post -->
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum amet est on dui.
            Nulla porttitor accumsan tincidunt.
          </p>
        </div>
        <!-- Blog Section to be showed on Drag  -->
        <div class="col-12 col-lg-4 blog-box hiden-blog hide-blog">
          <!-- Blog Post Title -->
          <h6>NEW ADVENTURE</h6>
          <!-- Blog Post Date -->
          <p>17 March 2019</p>
          <!-- Blog Post -->
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum amet est on dui.
            Nulla porttitor accumsan tincidunt.
          </p>
        </div>
        <div class="col-12 col-lg-4 blog-box hiden-blog hide-blog">
          <!-- Blog Post Title -->
          <h6>NEW ADVENTURE</h6>
          <!-- Blog Post Date -->
          <p>17 March 2019</p>
          <!-- Blog Post -->
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum amet est on dui.
            Nulla porttitor accumsan tincidunt.
          </p>
        </div>
        <div class="col-12 col-lg-4 blog-box hiden-blog hide-blog">
          <!-- Blog Post Title -->
          <h6>NEW ADVENTURE</h6>
          <!-- Blog Post Date -->
          <p>17 March 2019</p>
          <!-- Blog Post -->
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum amet est on dui.
            Nulla porttitor accumsan tincidunt.
          </p>
        </div>
      </div>
      <!-- Blog Button to Show More or Less on Mobile&Tablet View  -->
      <button class="hide-me" id="blog-btn">Show More Stories</button>
    </div>
  </div>
</section>
<!-- CONTACT SECTION -->
<section id="contact-us" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>CONTACT US</h5>
        <h2>Get in Touch</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 email">
        <input
          placeholder="Your email"
          type="email"
          id="email"
          pattern=".+@globex.com"
          size="30"
          required
        />
      </div>
      <div class="col-12 col-lg-6 email">
        <input
          placeholder="Subject"
          type="subject"
          id="subject"
          size="30"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 message">
        <textarea id="message" name="message" rows="5" cols="1">
Message here...</textarea
        >
      </div>
      <div class="col-12">
        <div class="hero-btns contact-btn">
          <!-- Send Message Btn -->
          <a href="#">Send Message</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="main-content">
  <header id="header">
    <section id="header-fixed">
      <nav id="nav-bar">
        <ul id="nav-list">
          <a
            onClick="document.getElementById('about-us').scrollIntoView({behavior: 'smooth'});"
            class="nav-link"
          >
            <li>About Us</li>
          </a>
          <a
            onClick="document.getElementById('gallery').scrollIntoView({behavior: 'smooth'});"
            class="nav-link"
          >
            <li>Gallery</li>
          </a>
          <a
            onClick="document.getElementById('aiexpl').scrollIntoView({behavior: 'smooth'});"
            class="nav-link"
          >
            <li>AI-explained</li>
          </a>
          <a
            onClick="document.getElementById('team').scrollIntoView({behavior: 'smooth'});"
            class="nav-link"
          >
            <li>Our Team</li>
          </a>
        </ul>
      </nav>
    </section>
  </header>
  <img
    class="main-background"
    src="../assets/images/other/main-background.jpg"
  />
  <div class="main-title-container">
    <h1 class="main-title">Welcome to CyberGen City</h1>
  </div>
</div>
<div class="intro-inner-container"></div>
<div class="section" id="about-us">
  <cyber-aboutus-component></cyber-aboutus-component>
</div>
<div class="section" id="gallery">
  <cyber-gallery-component></cyber-gallery-component>
</div>
<div class="section" id="aiexpl">
  <cyber-ai-component></cyber-ai-component>
</div>
<div class="section" id="team">
  <cyber-team-component></cyber-team-component>
</div>
<main id="content-container">
  <footer id="foot">
    <div class="foot-inner-container">
      <div class="foot-inner-social">
        <h2>Find Us on</h2>
        <div class="social-container">
          <div class="social-icon">
            <a href="https://discord.gg/3D6RN4k3FB" target="”_blank”"
              ><img src="../assets/images/icons/discord.png" alt="discord icon"
            /></a>
          </div>
          <div class="social-icon">
            <a href="https://www.instagram.com/cybergennft/" target="”_blank”"
              ><img
                src="../assets/images/icons/instagram.png"
                alt="instagram icon"
            /></a>
          </div>
          <div class="social-icon">
            <a href="https://twitter.com/CyberGenNFT" target="”_blank”"
              ><img src="../assets/images/icons/twitter.png" alt="twitter icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-container"></div>
  </footer>
</main> -->
