@use "assets/global-styles/color-palette.scss" as c;
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: c.$Xiketic;
  font-family: "Orbitron", sans-serif;
}
