/* SCSS HEX */
$Xiketic: #0d0b19;
$space-cadet: #1d1938ff;
$dark-purple: #18152eff;
$violet-blue-crayola: #7a71bbff;
$dark-turquoise: #23dcebff;
$blue-sapphire: #01618bff;
$han-purple: #6200ebff;
$persian-rose: #fc32aaff;
$dark-magenta: #950ea3ff;
$maximum-yellow: #f8f827ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-right: linear-gradient(
  90deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-left: linear-gradient(
  270deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
$gradient-radial: radial-gradient(
  #1d1938ff,
  #18152eff,
  #7a71bbff,
  #23dcebff,
  #01618bff,
  #6200ebff,
  #fc32aaff,
  #950ea3ff,
  #f8f827ff
);
